
*.xml
*.csv
*.html
*.html
*.tsv
*.tsv
*.tsv
*.fasta
*.iml
*.pyc
*.fa
*.zip

*.tar
*.tgz
*.json
*.cdhit
*.m8
*.txt
*.md
*.out
*.clstr
*.info
homoTemplates-db-file
*.aln
avastin_5-10mer_0.6_2/temp
*.tmp0
*.clstr
*.clstr
*.idx
BSA_5-10mer_0.6_2/temp
*.clstr
templates/temp-db
avastin_5-8mer_0.8_1/temp
avastin_5-16mer_0.8_1/temp
avastin_5-7mer_0.8_2/temp
